# Copy this file to .env (do NOT commit .env)

OPENAI_API_KEY=
OPENAI_MODEL=

# Streaming controls
OPENAI_STREAM_TIMEOUT_SECONDS=120
SESSION_IDLE_TIMEOUT_SECONDS=15

# Memory
MEMORY_DB_PATH=backend/memory.db
MEMORY_USER_ID=default

# Optional (for Step 2 auth later)
APP_API_KEY=sriusvO4sd5renx3qtwsXZu1JT423Gi4zVyfPgkle1w
